/*---------------------------*/
/*global*/
:root {

    /*global*/
    --transition-a  : .3s ;
    --font-size     : .7rem;


    /*data-tables*/
    --data-table-info-text  : #404646 ;
    --data-table-th-collor  : #ffffff ;
    --data-table-th-bg      : #6c5ce7 ;

    --data-table-btn-next-bg: #6c5ce7 ;
    --data-table-btn-prev-bg: #ffc107 ;



}



/*---------------------------*/
/*data-tables*/
div.dataTables_wrapper .dataTables_length,
div.dataTables_wrapper .dataTables_length select
{
    font-size: var(--font-size) !important;
    color: var(--data-table-info-text);
}
.dataTables_wrapper
{
    font-size: var(--font-size) !important;
}
div.dataTables_wrapper .dataTables_length select
{
    margin: 0 3px;
}

div.dataTables_wrapper table
{
    width:  100% ;
    margin-top: 23px !important;
}

div.dataTables_wrapper div.dataTables_info
{
    color: var(--data-table-info-text) !important;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate
{
    margin-top:  30px !important;
}
div.dataTables_wrapper th.sorting
{
    background-color : var(--data-table-th-bg) ;
    color : var(--data-table-th-collor) ;
    line-height:  2.6rem;
}
div.dataTables_wrapper tr td
{
    border-right: 1px solid !important;
    border-right-color: inherit !important;
}

div.dataTables_wrapper tr td:first-child
{
    border-left: 1px solid !important;
    border-left-color: inherit !important;
}
div.dataTables_wrapper tbody tr:nth-child(even) 
{
  background-color: #f2f2f2;
}
div.dataTables_wrapper .paging_simple .page-link
{
    border:  none;
}
div.dataTables_wrapper .paging_simple .page-link:hover
{
    opacity:  .8;
}
div.dataTables_wrapper .paging_simple .page-link:focus {
  outline: none;
  box-shadow: none;
}
div.dataTables_wrapper .paging_simple .disabled .page-link
{
    background: #8395a7 !important;
}
div.dataTables_wrapper .paging_simple .next .page-link
{
    transition: var(--transition-a) ;
    border-top-right-radius: .45rem;
    border-bottom-right-radius: .45rem;
    background: var(--data-table-btn-next-bg);
    color: var(--side-list-color-2) ;
}

div.dataTables_wrapper .paging_simple .previous .page-link
{
    transition: var(--transition-a) ;
    border-top-left-radius: .45rem;
    border-bottom-left-radius: .45rem;
    background: var(--data-table-btn-prev-bg);
    color: var(--side-list-color-2) ;
}
.dataTables_wrapper .row:nth-child(1) .col-sm-12.col-md-6:nth-child(1)
{
    display: none;
}
.dataTables_paginate ul.pagination
{
    display: flex;
    justify-content: end;
}
