/*----------- image upload ------------*/
.img-upload{cursor: pointer !important;}
.img-upload img{
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*----------- pop up alert ------------*/
.swal-footer {
  display: flex;
  justify-content: space-around;
}
.swal-button {
  background-color: #6f42c1;
  color: #fff;
  font-size: .8rem;
  padding: 4px 26px;
  transition: .3s;
}
.swal-button:not([disabled]):hover {
  background-color: #a98eda;
}
.swal-button:not([disabled]).swal-button--danger:hover {
  background-color: #e685b5;
}
.swal-text {
  font-size: .8rem;
  width: 80%;
  text-align: center;
}
.swal-button.swal-button--danger{
  background-color: #d63384;
}